<section class="about-game" id="about-game">
  <div class="container">
    <div class="wrapper">
      <div class="about-game__cont">
        <h2 class="about-game__title">About the Game</h2>
        <div class="about-game__photo-cont">
          <div class="about-game__description_top">
            <p class="about-game__description first">
              A match-3 puzzle experience built for relaxation and clarity.
            </p>
            <br />
            <p class="about-game__description second">
              Tile Rush: Match 3 Puzzle is a casual puzzle game designed for
              players of all ages who appreciate calm gameplay and meaningful
              progression.
            </p>
            <br />
            <p class="about-game__description second-two">
              Instead of high-stress mechanics or aggressive monetization, the
              game invites you into a world of simple goals and satisfying
              rewards.
            </p>
          </div>

          <picture>
            <source
              srcset="
                /img/about-the-game/iphone-top-desk-1x.webp 1x,
                /img/about-the-game/iphone-top-desk-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 321px)"
            />
            <source
              srcset="
                /img/about-the-game/iphone-top-mob-1x.webp 1x,
                /img/about-the-game/iphone-top-mob-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 320px)"
            />
            <img
              src="/img/about-the-game/iphone-top-desk-1x.webp 1x"
              alt="screenshot 1"
              class="about-game__img"
            />
          </picture>
        </div>

        <div class="about-game__photo-cont2">
          <div class="about-game__img-wrapper">
            <picture>
              <source
                srcset="
                  /img/about-the-game/iphone-bottom-desk-1x.webp 1x,
                  /img/about-the-game/iphone-bottom-desk-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 321px)"
              />
              <source
                srcset="
                  /img/about-the-game/iphone-bottom-mob-1x.webp 1x,
                  /img/about-the-game/iphone-bottom-mob-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 320px)"
              />
              <img
                src="/img/about-the-game/iphone-bottom-desk-1x.webp 1x"
                alt="screenshot 1"
                class="about-game__img2"
              />
            </picture>
          </div>
          <div class="about-game__description_cont">
            <p class="about-game__description third">
              The core idea is to clear the board by matching three identical
              tiles, but the beauty is in the subtle strategy behind each move.
            </p>
          </div>
        </div>
        <p class="about-game__description_text-bottom">
          We’ve blended visually rich design with responsive controls and
          relaxing audio to create an environment that’s as therapeutic as it is
          engaging.
        </p>
        <br />
        <p class="about-game__description_text-bottom">
          The game is built to accommodate your schedule—play for two minutes or
          two hours, online or offline, in Zen Mode or Challenge Mode.
        </p>
        <br />
        <p class="about-game__description_text-bottom">
          It's more than a mobile game — it's a moment of mindfulness in your
          pocket.
        </p>
      </div>
    </div>
  </div>
</section>
