<section class="about-game" id="about-game">
  <div class="container">
    <div class="wrapper">
      <div class="about-game__cont">
        <h2 class="about-game__title">About the Game</h2>
        <div class="about-game__photo-cont">
          <div>
            <p class="about-game__description first">
              A match-3 puzzle experience built for relaxation and clarity.
            </p>
            <p class="about-game__description second">
              Tile Rush: Match 3 Puzzle is a casual puzzle game designed for
              players of all ages who appreciate calm gameplay and meaningful
              progression.
            </p>
          </div>

          <img
            alt="iPhone 17"
            src="/img//about-the-game/iPhone17.png"
            class="about-game__img"
          />
        </div>

        <p class="about-game__description">
          Tile Rush: Match 3 Puzzle is a casual puzzle game designed for players
          of all ages who appreciate calm gameplay and meaningful progression.
        </p>
        <p class="about-game__description">
          Instead of high-stress mechanics or aggressive monetization, the game
          invites you into a world of simple goals and satisfying rewards.
        </p>
        <div class="about-game__photo-cont2">
          <div class="about-game__img-wrapper">
            <img
              alt="iPhone 16"
              src="/img/about-the-game/iPhone16.png"
              class="about-game__img2"
            />
          </div>
          <div class="about-game__description_cont">
            <p class="about-game__description third">
              The core idea is to clear the board by matching three identical
              tiles, but the beauty is in the subtle strategy behind each move.
            </p>
          </div>
        </div>
        <p class="about-game__description">
          We’ve blended visually rich design with responsive controls and
          relaxing audio to create an environment that’s as therapeutic as it is
          engaging.
        </p>
        <p class="about-game__description">
          We’ve blended visually rich design with responsive controls and
          relaxing audio to create an environment that’s as therapeutic as it is
          engaging.
        </p>
        <p class="about-game__description">
          The game is built to accommodate your schedule—play for two minutes or
          two hours, online or offline, in Zen Mode or Challenge Mode.<br />
          It's more than a mobile game — it's a moment of mindfulness in your
          pocket.
        </p>
      </div>
    </div>
  </div>
</section>
