<section>
  <div class="container">
    <div class="wrapper">
      <h2>Boosters</h2>
      <p>Boosters to Nudge You Forward</p>
      <div>
        <h3>Hint Spark:</h3>
        <p>Reveals a possible match</p>
        <img src="../img/boosters/bones.png" alt="bones" />
      </div>
      <div>
        <h3>Tile Swap:</h3>
        <p>Swaps two tiles in your queue</p>
        <img src="../img/boosters/arrows.png" alt="arrows" />
      </div>
      <div>
        <h3>Clear Set:</h3>
        <p>Removes any group of 3 tiles at once</p>
        <img src="../img/boosters/cup.png" alt="cup" />
      </div>
    </div>
  </div>
</section>
