<section id="boosters" class="boosters">
  <div class="container">
    <div class="wrapper">
      <h2 class="boosters-title">Boosters</h2>
      <p class="boosters-subtitle">Boosters to Nudge You Forward</p>
      <div class="booster__main_div">
        <div class="booster__div">
          <h3 class="booster__title">Hint Spark:</h3>
          <p class="booster__description">Reveals a possible match</p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/boosters/bones-desktop.png   1x,
                /img/boosters/bones-desktop2x.png 2x
              "
            />
            <img
              class="booster__image--bones"
              src="/img/boosters/bones.png"
              srcset="/img/boosters/bones.png 1x, /img/boosters/bones2x.png 2x"
              alt="bones"
            />
          </picture>
        </div>

        <div class="booster__div">
          <h3 class="booster__title">Tile Swap:</h3>
          <p class="booster__description">Swaps two tiles in your queue</p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/boosters/arrows-desktop.png   1x,
                /img/boosters/arrows-desktop2x.png 2x
              "
            />
            <img
              class="booster__image--arrows"
              src="/img/boosters/arrows.png"
              srcset="
                /img/boosters/arrows.png   1x,
                /img/boosters/arrows2x.png 2x
              "
              alt="arrows"
            />
          </picture>
        </div>

        <div class="booster__div">
          <h3 class="booster__title">Clear Set:</h3>
          <p class="booster__description">
            Removes any group of 3 tiles at once
          </p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/boosters/cup-desktop.png   1x,
                /img/boosters/cup-desktop2x.png 2x
              "
            />
            <img
              class="booster__image--cup"
              src="/img/boosters/cup.png"
              srcset="/img/boosters/cup.png 1x, /img/boosters/cup2x.png 2x"
              alt="cup"
            />
          </picture>
        </div>
      </div>
      <p class="boosters-subtitle desktop-only">
        Boosters are earned through progress and never required to win — just
        there when you need a gentle push.
      </p>
    </div>
  </div>
</section>
