<section id="boosters" class="boosters">
  <div class="container">
    <div class="wrapper">
      <h2 class="boosters-title">Boosters</h2>
      <p class="boosters-subtitle">Boosters to Nudge You Forward</p>
      <div class="booster__main_div">
        <div class="booster__div">
          <h3 class="booster__title">Hint Spark:</h3>
          <p class="booster__description">Reveals a possible match</p>
          <img
            class="booster__image--bones"
            src="/img/boosters/bones.png"
            alt="bones"
          />
        </div>

        <div class="booster__div">
          <h3 class="booster__title">Tile Swap:</h3>
          <p class="booster__description">Swaps two tiles in your queue</p>
          <img
            class="booster__image--arrows"
            src="/img/boosters/arrows.png"
            alt="arrows"
          />
        </div>

        <div class="booster__div">
          <h3 class="booster__title">Clear Set:</h3>
          <p class="booster__description">
            Removes any group of 3 tiles at once
          </p>
          <img
            class="booster__image--cup"
            src="/img/boosters/cup.png"
            alt="cup"
          />
        </div>
      </div>
      <p class="boosters-subtitle desktop-only">
        Boosters are earned through progress and never required to win — just
        there when you need a gentle push.
      </p>
    </div>
  </div>
</section>
