<div class="container">
  <div class="wrapper">
    <div class="cookies" data-cookies>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/cookies/cookies-desktop.png   1x,
            /img/cookies/cookies-desktop2x.png 2x
          "
        />
        <img
          class="cookies__desktop"
          src="/img/cookies/cookies.png"
          srcset="/img/cookies/cookies.png 1x, /img/cookies/cookies2x.png 2x"
          alt="cookies"
        />
      </picture>
      <div>
        <h2 class="cookies__title">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/cookies/cookies-desktop.png   1x,
                /img/cookies/cookies-desktop2x.png 2x
              "
            />
            <img
              class="cookies__image"
              src="/img/cookies/cookies-desktop.png"
              srcset="
                /img/cookies/cookies.png   1x,
                /img/cookies/cookies2x.png 2x
              "
              alt="cookies"
            /> </picture
          >Cookies Policy
        </h2>
        <div class="cookies__content">
          <p class="cookies__text">
            We use cookies to improve your experience on our website. By
            browsing this website, you agree to our use of cookies.
          </p>
          <div class="cookies__buttons">
            <button class="cookies__btn accept" data-cookies-accept>
              ACCEPT COOKIES
            </button>
            <button class="cookies__btn decline" data-cookies-decline>
              DECLINE COOKIES
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
