<footer class="footer">
  <div class="container">
    <h3>Contact</h3>
    <p>
      Have a question, suggestion, or just want to say hello? Email us at:
      info@mindrush.pro We respond within 24 hours, Monday–Friday.
    </p>
    <h3>Follow us on:</h3>
    <svg class="" width="100" height="30">
      <use href=""></use>
    </svg>
    <svg class="" width="100" height="30">
      <use href=""></use>
    </svg>
    <svg class="" width="100" height="30">
      <use href=""></use>
    </svg>
    <nav>
      <a>Privacy Policy | </a>
      <a>Terms of Service | </a>
      <a>Cookies Policy</a>
    </nav>
    <p>© 2025 mindrush.pro | All Rights Reserved</p>
    <p>Version: 1.0.6 | Updated: March 8, 2025</p>
  </div>
</footer>
