<footer class="footer" id="footer">
  <div class="container">
    <div class="wrapper">
      <div class="footer_content">
        <div class="footer_contact">
          <div class="footer_contact_desc">
            <h3 class="footer_heading">Contact</h3>
            <p class="footer_text">
              Have a question, suggestion, or just want to say hello?
            </p>
            <p class="footer_text">
              Email us at:
              <a
                class="footer_email"
                href="mailto:info@mindrush.pro"
                style="font-weight: bold"
              >
                info@mindrush.pro
              </a>
              <br />We respond within 24 hours, Monday–Friday.
            </p>
          </div>
          <div class="footer_follow_desc">
            <h3 class="footer_heading_follow">Follow us on:</h3>
            <div class="footer_follow_icons">
              <a
                class="footer_icon_link"
                href="https://www.facebook.com"
                target="_blank"
              >
                <svg class="footer_icon" width="37" height="37">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
              <a
                class="footer_icon_link"
                href="https://www.instagram.com"
                target="_blank"
              >
                <svg class="footer_icon" width="37" height="37">
                  <use href="/img/sprite.svg#icon-insta"></use>
                </svg>
              </a>
              <a
                class="footer_icon_link"
                href="https://twitter.com"
                target="_blank"
              >
                <svg class="footer_icon" width="37" height="37">
                  <use href="/img/sprite.svg#icon-twit"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="footer_info_desc">
          <div class="footer_nav">
            <nav>
              <a href="privacy-policy.html">Privacy Policy | </a> <br />
              <a href="terms-and-conditions.html">Terms and Conditions | </a>
              <a href="cookies-policy.html">Cookies Policy</a>
            </nav>
          </div>
          <div class="footer_info">
            <p class="footer_info_text">
              © 2025 mindrush.pro | All Rights Reserved
            </p>
            <p class="footer_info_text">
              Version: 1.0.6 | Updated: March 8, 2025
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
