<section class="game_features" id="game_features">
  <div class="container">
    <div class="wrapper">
      <h2 class="game_features__title">Game Features</h2>
      <div class="game_features__div_descr">
        <ul class="game_features__list">
          <li class="game_features__item_one">
            <span class="game_features__blur game_features__blur--green"></span>
            <p class="game_features__text">Tap tiles to pick them up</p>
          </li>
          <li class="game_features__item_two">
            <span class="game_features__blur game_features__blur--blue"></span>
            <p class="game_features__text">
              No timers, no rush — play at your own pace
            </p>
          </li>
          <li class="game_features__item_three">
            <span
              class="game_features__blur game_features__blur--yellow"
            ></span>
            <p class="game_features__text">
              Minimalist visuals with vibrant color palettes
            </p>
          </li>
          <li class="game_features__item_four">
            <span class="game_features__blur game_features__blur--pink"></span>
            <p class="game_features__text">
              Smart hint system that assists, not intrudes
            </p>
          </li>
          <li class="game_features__item_five">
            <span class="game_features__blur game_features__blur--blue"></span>
            <p class="game_features__text">
              Light background music to support focus and calm
            </p>
          </li>
          <li class="game_features__item_six">
            <span class="game_features__blur game_features__blur--green"></span>
            <p class="game_features__text">
              Available offline for uninterrupted gameplay
            </p>
          </li>
          <li class="game_features__item_seven">
            <span
              class="game_features__blur game_features__blur--yellow"
            ></span>
            <p class="game_features__text">Supports both phones and tablets</p>
          </li>
        </ul>

        <div class="game_features_img">
          <span
            class="game_features__blur_bg game_features__blur--green"
          ></span>
          <picture>
            <source
              srcset="
                /img/game-features/media-main-desktop.png   1x,
                /img/game-features/media-main-desktop2x.png 2x
              "
              type="image/png"
              media="(min-width: 321px)"
            />
            <source
              srcset="
                /img/game-features/media-main.png   1x,
                /img/game-features/media-main2x.png 2x
              "
              type="image/png"
              media="(max-width: 320px)"
            />
            <img
              src="/img/game-features/media-main-desktop.png 1x"
              alt="screenshot 1"
              class="game_features__img_kid"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
