<section class="game_features" id="game_features">
  <div class="container">
    <div class="wrapper">
      <h2 class="game_features__title">Game Features</h2>
      <div class="game_features__div_descr">
        <p class="game_features__description">
          <img
            src="/img/game-features/ellipse-green.webp"
            width="60"
            height="60"
            alt="green blur"
            class="game-features_blur-one"
          />
          <!-- <svg width="120" height="120" class="game_features__icon">
            <use href="/img/svg/green.svg"></use>
          </svg> -->
          Tap tiles to pick them up
        </p>
        <p class="game_features__description--double">
          <img
            src="/img/game-features/ellipse-blue.webp"
            width="60"
            height="60"
            alt="blue blur"
            class="game-features_blur-two"
          />
          No timers, no rush — play at your own pace
        </p>

        <p class="game_features__description">
          <img
            src="/img/game-features/ellipse-yellow.webp"
            width="60"
            height="60"
            alt="yellow blur"
            class="game-features_blur-tree"
          />
          Minimalist visuals with vibrant color palettes
        </p>
        <p class="game_features__description--double">
          <img
            src="/img/game-features/ellipse-pink.webp"
            width="60"
            height="60"
            alt="pink blur"
            class="game-features_blur-four"
          />
          Smart hint system that assists, not intrudes
        </p>
        <p class="game_features__description">
          <img
            src="/img/game-features/ellipse-blue.webp"
            width="60"
            height="60"
            alt="blue blur"
            class="game-features_blur-five"
          />
          Light background music to support focus and calm
        </p>
        <p class="game_features__description--double">
          <img
            src="/img/game-features/ellipse-green.webp"
            width="60"
            height="60"
            alt="green blur"
            class="game-features_blur-six"
          />
          Available offline for uninterrupted gameplay
        </p>
        <p class="game_features__description">
          <img
            src="/img/game-features/ellipse-yellow.webp"
            width="60"
            height="60"
            alt="yellow blur"
            class="game-features_blur-seven"
          />
          Supports both phones and tablets
        </p>
      </div>

      <img
        class="game_features__img"
        alt="hi"
        src="/img/game-features/hi.png"
      />
    </div>
  </div>
</section>
