<header class="header" id="header" data-nav>
  <div class="container">
    <div class="wrapper">
      <nav class="nav" data-nav-bg="noopen" aria-label="Primary Navigation">
        <div class="nav-div">
          <a
            href="https://play.google.com/store/apps/details?id=tile.rush.matching.busters.match.games&hl=en&gl=us"
            aria-label="Site logo"
          >
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/header/dolphin-desktop.png   1x,
                  /img/header/dolphin-desktop2x.png 2x
                "
              />
              <img
                class="dolphin__icon"
                src="/img/header/dolphin.png"
                alt="dolphin"
                srcset="
                  /img/header/dolphin.png   1x,
                  /img/header/dolphin2x.png 2x
                "
              />
            </picture>
          </a>
          <button
            class="burger"
            type="button"
            aria-label="Open menu"
            data-burger
          >
            <svg
              width="28"
              height="28"
              aria-hidden="true"
              focusable="false"
              class="svg"
            >
              <use data-burger-icon href="/img/sprite.svg#icon-burger"></use>
            </svg>
          </button>
        </div>

        <!-- важливо: data-menu="noopen" за замовчуванням -->
        <ul class="menu__list" data-menu="noopen">
          <li class="menu__item">
            <a class="menu__link" href="#header" data-menu-link>Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#about-game" data-menu-link
              >About the Game</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#how-to-play" data-menu-link
              >How to play</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#game_features" data-menu-link
              >Game Features</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#screenshots" data-menu-link
              >Screenshots</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#levels" data-menu-link>Levels</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#boosters" data-menu-link>Boosters</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#zen-mode" data-menu-link>Zen Mode</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#special" data-menu-link
              >What Makes it Special</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#testimonials" data-menu-link
              >Testimonials</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#faq" data-menu-link>FAQ</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#footer" data-menu-link>Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
