<header class="header">
  <div class="container">
    <div class="wrapper">
      <nav class="nav" id="primary-nav" aria-label="Primary Navigation">
        <div class="nav-div">
          <a href="#" aria-label="Site logo">
            <svg width="32" height="32" class="dolphin_svg">
              <use href="../img/svg/dolphin.svg"></use>
            </svg>
          </a>
          <button
            id="burger"
            aria-label="Open menu"
            class="burger"
            type="button"
          >
            <svg
              width="28"
              height="28"
              aria-hidden="true"
              focusable="false"
              class="svg"
            >
              <use id="burger-icon" href="../img/svg/burger.svg"></use>
            </svg>
          </button>
        </div>
        <ul class="menu__list" id="menu">
          <li class="menu__item">
            <a class="menu__link" href="#section1">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#section2">About the Game</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#section3">How to play</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#section4">Game Features</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#section1">Screenshots</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#section2">Levels</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#section3">Boosters</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#section4">Zen Mode</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#section1">What Makes it Special</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#section2">Testimonials</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#section3">FAQ</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#section4">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
