<header class="header" id="header">
  <div class="container">
    <div class="wrapper">
      <nav class="nav" id="primary-nav" aria-label="Primary Navigation">
        <div class="nav-div">
          <a href="#" aria-label="Site logo">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/header/dolphin-desktop.png   1x,
                  /img/header/dolphin-desktop2x.png 2x
                "
              />
              <img
                class="dolphin__icon"
                src="/img/header/dolphin.png"
                alt="dolphin"
                srcset="
                  /img/header/dolphin.png   1x,
                  /img/header/dolphin2x.png 2x
                "
              />
            </picture>
          </a>
          <button
            id="burger"
            aria-label="Open menu"
            class="burger"
            type="button"
          >
            <svg
              width="28"
              height="28"
              aria-hidden="true"
              focusable="false"
              class="svg"
            >
              <use id="burger-icon" href="/img/svg/burger.svg"></use>
            </svg>
          </button>
        </div>
        <ul class="menu__list" id="menu">
          <li class="menu__item">
            <a class="menu__link" href="#header">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#about-game">About the Game</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#how-to-play">How to play</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#game_features">Game Features</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#screenshots">Screenshots</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#levels">Levels</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#boosters">Boosters</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#zen-mode">Zen Mode</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#special">What Makes it Special</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#testimonials">Testimonials</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#faq">FAQ</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#footer">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
