<section class="hero" id="hero">
  <div class="container">
    <div class="wrapper">
      <h1 class="hero__title">
        Welcome to TileRush!
        <span class="hero__highlight--match">Match.</span>
        <span class="hero__highlight--relax">Relax.</span>
        <span class="hero__highlight--repeat">Repeat.</span>
      </h1>
      <img
        class="hero__image"
        src="/img/hero/hero.png"
        alt="TileRush game screenshot"
      />
      <p class="hero__description">
        Enjoy a peaceful match 3 puzzle adventure with hundreds of satisfying
        levels.
      </p>
      <button class="hero__btn">
        <svg width="28" height="29">
          <use href="/img/svg/google-play.svg"></use>
        </svg>
        Download Now
      </button>
    </div>
  </div>
</section>
