<section class="hero" id="hero">
  <div class="container">
    <div class="wrapper">
      <div class="hero__div">
        <h1 class="hero__title">
          Welcome to TileRush!
          <span class="hero__highlight--match">Match.</span>
          <span class="hero__highlight--relax">Relax.</span>
          <span class="hero__highlight--repeat">Repeat.</span>
        </h1>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/hero/media-hero-desktop.png   1x,
              /img/hero/media-hero-desktop2x.png 2x
            "
          />
          <img
            class="hero__image"
            src="/img/hero/media-hero.png"
            srcset="/img/hero/media-hero.png 1x, /img/hero/media-hero2x.png 2x"
            alt="TileRush game screenshot"
          />
        </picture>
        <p class="hero__description">
          Enjoy a peaceful match 3 puzzle adventure with hundreds of satisfying
          levels.
        </p>
        <button class="hero__btn">
          <svg width="28" height="29">
            <use href="/img/svg/google-play.svg"></use>
          </svg>
          <p>
            Download Now
            <span class="desktop__only">and Start Matching</span>
          </p>
        </button>
      </div>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="/img/hero/media-hero.png 1x, /img/hero/media-hero2x.png 2x"
        />
        <img
          class="hero__image--under-title"
          src="/img/hero/media-hero.png"
          srcset="/img/hero/media-hero.png 1x, /img/hero/media-hero2x.png 2x"
          alt="TileRush game screenshot"
        />
      </picture>
    </div>
  </div>
</section>
