<section>
  <h2>How to play</h2>
  <p>Simple to Learn. Deeply Satisfying to Master.</p>
  <div>
    <h2>/01</h2>
    <p>Tap tiles to pick them up.</p>
    <img />
  </div>
  <div>
    <h2>/02</h2>
    <p>Match 3 of the same kind to clear them.</p>
    <img />
  </div>
  <div>
    <h2>/03</h2>
    <p>Clear the board to complete the level.</p>
    <img />
  </div>
  <div>
    <h2>/04</h2>
    <p>Use logic and pattern recognition to plan your moves.</p>
    <img />
  </div>
  <div>
    <h2>/05</h2>
    <p>No time limits — take all the time you need.</p>
    <img />
  </div>
</section>
