<section class="levels" id="levels">
  <div class="container">
    <div class="wrapper">
      <h2 class="levels-title">Levels</h2>
      <p class="levels-intro">From easy beginnings to satisfying challenges.</p>
      <div class="levels-div">
        <div class="levels-item">
          <p class="levels-description">
            Tile Rush features a thoughtfully designed level system that
            gradually increases in complexity while keeping gameplay enjoyable.
          </p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/levels/cube-desktop.png   1x,
                /img/levels/cube-desktop2x.png 2x
              "
            />
            <img
              class="levels-image--cube"
              src="/img/levels/cube.png"
              alt="cube"
              srcset="/img/levels/cube.png 1x, /img/levels/cube2x.png 2x"
            />
          </picture>
        </div>

        <div class="levels-item">
          <p class="levels-description">
            Early levels introduce you to core mechanics, helping you understand
            the matching system and how different tiles interact.
          </p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/levels/candy-desktop.png   1x,
                /img/levels/candy-desktop2x.png 2x
              "
            />
            <img
              class="levels-image--candy"
              src="/img/levels/candy.png"
              alt="candy"
              srcset="/img/levels/candy.png 1x, /img/levels/candy2x.png 2x"
            />
          </picture>
        </div>

        <div class="levels-item">
          <p class="levels-description">
            With over 500+ handcrafted levels (and more added regularly), you’ll
            encounter evolving challenges like layered tiles, limited moves, and
            bonus objectives.
          </p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/levels/tv-desktop.png   1x,
                /img/levels/tv-desktop2x.png 2x
              "
            />
            <img
              class="levels-image--tv"
              src="/img/levels/tv.png"
              alt="tv"
              srcset="/img/levels/tv.png 1x, /img/levels/tv2x.png 2x"
            />
          </picture>
        </div>

        <div class="levels-item">
          <p class="levels-description">
            Each new set of levels is set in a different visual theme, offering
            not just variety in gameplay but also aesthetic freshness.
          </p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/levels/present-desktop.png   1x,
                /img/levels/present-desktop2x.png 2x
              "
            />
            <img
              class="levels-image--present"
              src="/img/levels/present.png"
              alt="present"
              srcset="/img/levels/present.png 1x, /img/levels/present2x.png 2x"
            />
          </picture>
        </div>

        <div class="levels-item">
          <p class="levels-description">
            Whether you're here for a light distraction or a serious brain
            workout, the level progression keeps you moving forward with
            satisfaction.
          </p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/levels/firecracker-desktop.png   1x,
                /img/levels/firecracker-desktop2x.png 2x
              "
            />
            <img
              class="levels-image--firecracker"
              src="/img/levels/firecracker.png"
              alt="firecracker"
              srcset="
                /img/levels/firecracker.png   1x,
                /img/levels/firecracker2x.png 2x
              "
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
