<section id="special" class="special">
  <div class="container">
    <div class="wrapper">
      <h2 class="special__title">What make it <br class="br" />Special</h2>
      <p class="special__subtitle">Why Players Choose Tile Rush</p>
      <div class="special__list">
        <div class="special__item">
          <img class="special__icon" src="/img/special/hand.png" alt="hand" />
          <p class="special__text">No ads interrupt your session</p>
        </div>

        <div class="special__item">
          <img class="special__icon" src="/img/special/wifi.png" alt="wifi" />
          <p class="special__text">Fully offline capability</p>
        </div>

        <div class="special__item">
          <img
            class="special__icon"
            src="/img/special/mountain.png"
            alt="mountain"
          />
          <p class="special__text">
            Beautiful and evolving tile theme (Seasons, Nature, Abstract)
          </p>
        </div>

        <div class="special__item">
          <img class="special__icon" src="/img/special/clock.png" alt="clock" />
          <p class="special__text">Perfectly tuned difficulty curve</p>
        </div>

        <div class="special__item">
          <img
            class="special__icon"
            src="/img/special/puzzle.png"
            alt="puzzle"
          />
          <p class="special__text">
            Designed by puzzle lovers for puzzle lovers
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
