<section id="special" class="special">
  <div class="container">
    <div class="wrapper">
      <h2 class="special__title">What make it <br class="br" />Special</h2>
      <p class="special__subtitle">Why Players Choose Tile Rush</p>
      <div class="special__list">
        <div class="special__item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/special/hand-desktop.png   1x,
                /img/special/hand-desktop2x.png 2x
              "
            />
            <img
              class="special__icon"
              src="/img/special/hand.png"
              alt="hand"
              srcset="/img/special/hand.png 1x, /img/special/hand2x.png 2x"
            />
          </picture>
          <p class="special__text">No ads interrupt your session</p>
        </div>

        <div class="special__item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/special/wifi-desktop.png   1x,
                /img/special/wifi-desktop2x.png 2x
              "
            />
            <img
              class="special__icon"
              src="/img/special/wifi.png"
              alt="wifi"
              srcset="/img/special/wifi.png 1x, /img/special/wifi2x.png 2x"
            />
          </picture>
          <p class="special__text">Fully offline capability</p>
        </div>

        <div class="special__item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/special/mountain-desktop.png   1x,
                /img/special/mountain-desktop2x.png 2x
              "
            />
            <img
              class="special__icon"
              src="/img/special/mountain.png"
              alt="mountain"
              srcset="
                /img/special/mountain.png   1x,
                /img/special/mountain2x.png 2x
              "
            />
          </picture>
          <p class="special__text">
            Beautiful and evolving tile theme (Seasons, Nature, Abstract)
          </p>
        </div>

        <div class="special__item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/special/clock-desktop.png   1x,
                /img/special/clock-desktop2x.png 2x
              "
            />
            <img
              class="special__icon"
              src="/img/special/clock.png"
              alt="clock"
              srcset="/img/special/clock.png 1x, /img/special/clock2x.png 2x"
            />
          </picture>
          <p class="special__text">Perfectly tuned difficulty curve</p>
        </div>

        <div class="special__item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/special/puzzle-desktop.png   1x,
                /img/special/puzzle-desktop2x.png 2x
              "
            />
            <img
              class="special__icon"
              src="/img/special/puzzle.png"
              alt="puzzle"
              srcset="/img/special/puzzle.png 1x, /img/special/puzzle2x.png 2x"
            />
          </picture>
          <p class="special__text">
            Designed by puzzle lovers for puzzle lovers
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
