<section>
  <div class="container">
    <div class="wrapper">
      <h2>What make it Special</h2>
      <p>Why Players Choose Tile Rush</p>
      <div>
        <img src="../img/special/hand.png" alt="hand" />
        <p>No ads interrupt your session</p>
      </div>
      <div>
        <img src="../img/special/wifi.png" alt="wifi" />
        <p>Fully offline capability</p>
      </div>
      <div>
        <img src="../img/special/mountain.png" alt="mountain" />
        <p>Beautiful and evolving tile theme (Seasons, Nature, Abstract)</p>
      </div>
      <div>
        <img src="../img/special/clock.png" alt="clock" />
        <p>Perfectly tuned difficulty curve</p>
      </div>
      <div>
        <img src="../img/special/puzzle.png" alt="puzzle" />
        <p>Designed by puzzle lovers for puzzle lovers</p>
      </div>
    </div>
  </div>
</section>
