:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #fff8f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-blue: #6ac8fa;
  --color-green: #9ddb57;
  --color-pink: #f06cab;
  --color-gray: #fff8f0;
  --color-yellow: #ffd93b;
  --color-white: #fff;
  --color-black: #100804;
  --color-blue-hover: #3ab6f8;
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
a:active {
  background: none;
}
a {
  -webkit-tap-highlight-color: transparent;
}
