.faq {
  scroll-margin-top: 40px;
}
.faq .wrapper {
  width: 288px;
}
.faq__title {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 16px;
}
.ac {
  margin-bottom: 16px;
}
.ac-trigger {
  position: relative;
  border-radius: 35px;
  padding: 24px;
  width: 288px;
  height: 100px;
  background: var(--color-white);
  border: none;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}
.ac-header {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-black);
}
.ac-panel {
  max-height: 0;
  overflow: hidden;
}
.ac.is-active .ac-panel {
  max-height: 500px;
  padding: 74px 24px 24px 24px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.05);
  background: rgba(106, 200, 250, 0.4);
  border-radius: 0 0 35px 35px;
  margin-top: -40px;
  position: relative;
  z-index: 0;
}
.ac-trigger svg {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.ac.is-active .ac-trigger svg {
  transform: rotate(-0deg);
}
.ac-text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: var(--color-black);
}
@media screen and (min-width: 1200px) {
  .faq {
    scroll-margin-top: 160px;
    margin: 0 auto;
  }
  .faq__title {
    font-size: 48px;
    text-align: start;
    margin-left: 89px;
    margin-bottom: 40px;
  }
  .accordion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ac {
    margin-bottom: 24px;
  }
  .ac-trigger {
    padding: 24px 40px;
    width: 862px;
    height: 100px;
  }
  .ac-header {
    font-size: 24px;
  }
  .ac.is-active .ac-panel {
    max-height: 1000px;
    width: 862px;
  }
  .ac-text {
    font-size: 20px;
  }
}
