.footer .wrapper {
  width: 288px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer_content {
  background-image: url('/img/footer/footer-shape-mobile-1x.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 288px;
}

.footer_contact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  padding: 32px 24px 0px 24px;
}

.footer_contact_desc {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.footer_heading {
  font-family: 'Jua', sans-serif;
  font-size: 20px;
  color: var(--color-black);
}

.footer_text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: var(--color-black);
}

.footer_follow_desc {
  display: flex;
  flex-direction: column;
}

.footer_heading_follow {
  font-family: 'Jua', sans-serif;
  font-size: 20px;
  color: var(--color-black);
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.footer_follow_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  width: 240px;
  gap: 40px;
  margin-bottom: 32px;
}

.footer_icon_link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_icon_link:hover {
  fill: var(--color-white);
}

.footer_icon {
  width: 37px;
  height: 37px;
}

.footer_info_desc {
  padding-bottom: 19px;
}

.footer_nav {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: rgba(16, 8, 4, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
}

.footer_nav a:hover {
  color: var(--color-black);
}

.footer_info {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: rgba(16, 8, 4, 0.6);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_info_text {
  padding-left: 16px;
}

@media screen and (min-width: 1200px) {
  .footer .wrapper {
    width: 1040px;
    margin-top: 64px;
    margin-bottom: 24px;
  }

  .footer_content {
    background-image: url('/img/footer/footer-desc-2x.webp');
    background-size: 100% auto;
    width: 1040px;
    padding: 120px 89px 0 89px;
  }

  .footer_contact {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .footer_contact_desc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .footer_heading {
    font-size: 24px;
  }

  .footer_text {
    font-size: 16px;
  }

  .footer_heading_follow {
    font-size: 24px;
    justify-content: flex-end;
  }

  .footer_follow_icons {
    justify-content: flex-end;
    gap: 16px;
  }

  .footer_info_desc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 0;
  }

  .footer_nav br {
    display: none;
  }

  .footer_nav {
    font-size: 16px;
    margin-bottom: 0;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding-bottom: 24px;
  }

  .footer_info {
    font-size: 16px;
    padding-bottom: 24px;
  }

  .footer_info_text {
    padding-left: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
}
