.hero .wrapper {
  margin-top: 86px;
  width: 288px;
}
.hero__title {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--color-black);
}

.hero__highlight--match {
  color: var(--color-blue);
}

.hero__highlight--relax {
  color: var(--color-pink);
}

.hero__highlight--repeat {
  color: var(--color-green);
}
.hero__image {
  border-radius: 50px;
  width: 288px;
  height: 200px;
  object-fit: cover;
  margin-top: 16px;
}
.hero__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: var(--color-black);
  margin-top: 16px;
}
.hero__btn {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  border-radius: 35px;
  padding: 16px 24px;
  width: 288px;
  height: 63px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.05);
  background: var(--color-blue);
  border: none;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  order: 4;
}
.hero__btn:hover {
  background: var(--color-blue-hover)
}
.desktop__only {
  display: none;
}
.hero__image--under-title {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .hero .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 185px;
    width: 1040px;
  }
  .hero__div {
    width: 540px;
    padding-left: 89px;
  }
  .hero__title {
    text-align: left;
    font-size: 48px;
    margin-top: 35px;
    height: 136px;
  }
  .hero__btn {
    width: 330px;
    height: 102px;
    margin-top: 89px;
    font-size: 32px;
  }
  .hero__description {
    width: 504px;
    font-size: 20px;
    height: 60px;
    margin-top: 32px;
    text-align: left;
  }
  .hero__image--under-title {
    display: block;
    border-radius: 50px;
    object-fit: cover;
    margin-top: 35px;
    width: 419px;
    height: 419px;
  }
  .desktop__only {
    display: block;
    font-family: 'Jua', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--color-black);
  }
  .hero__image {
    display: none;
  }
}
