.how-to-play {
  scroll-margin-top: 80px;
}

.how-to-play .wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.how-to-play__title {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--color-black);
}
.how-to-play__subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--color-black);
  margin-top: 8px;
}
.how-to-play__step {
  position: relative;
  margin-top: 16px;
  border-radius: 35px;
  padding: 24px;
  width: 288px;
  height: 154px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.05);
  background: var(--color-white);
}
.how-to-play__step-number {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: var(--color-black);
}
.how-to-play__step-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-black);
  width: 141px;
  margin-top: 10px;
}
.how-to-play__step-image--square {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 30px;
  right: -8px;
}
.how-to-play__step-image--puzzle {
  width: 159px;
  height: 150px;
  position: absolute;
  top: 30px;
  right: -25px;
}
.how-to-play__step-image--reward {
  width: 145px;
  height: 145px;
  position: absolute;
  top: 25px;
  right: -10px;
}
.how-to-play__step-image--lamp {
  width: 151px;
  height: 151px;
  position: absolute;
  top: 25px;
  right: -17px;
}
.how-to-play__step-image--time {
  width: 165px;
  height: 165px;
  position: absolute;
  top: 10px;
  right: -17px;
}
@media screen and (min-width: 1200px) {
  .how-to-play {
    scroll-margin-top: 140px;
  }

  .how-to-play .wrapper {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .how-to-play__title {
    font-size: 48px;
    text-align: start;
    margin-left: 89px;
  }
  .how-to-play__subtitle {
    font-size: 20px;
    text-align: start;
    margin-top: 16px;
    margin-left: 89px;
  }
  .how-to-play__step {
    margin-top: 0;
    width: 300px;
    height: 300px;
  }
  .how-to-play__step-number {
    font-size: 54px;
  }
  .how-to-play__step-description {
    font-size: 20px;
    width: 226px;
    margin-top: 16px;
  }
  .how-to-play__div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px 70px;
    margin-top: 40px;
  }
  .how-to-play__step-image--square {
    width: 178px;
    height: 178px;

    top: 150px;
    right: -30px;
  }
  .how-to-play__step-image--puzzle {
    width: 225px;
    height: 212px;

    top: 150px;
    right: -60px;
  }
  .how-to-play__step-image--reward {
    width: 186px;
    height: 186px;

    top: 150px;
    right: -55px;
  }
  .how-to-play__step-image--lamp {
    width: 201px;
    height: 201px;
    top: 140px;
    right: -80px;
  }
  .how-to-play__step-image--time {
    width: 212px;
    height: 212px;
    transform: rotate(18deg);
    top: 140px;
    right: -80px;
  }
}
