.levels {
  padding-top: 32px;
  scroll-margin-top: 120px;
}
.levels .wrapper {
  border-radius: 35px;
  padding: 16px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.05);
  background: var(--color-white);
  margin-bottom: 32px;
}
.levels-title {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 8px;
}
.levels-intro {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 16px;
}
.levels-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.levels-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.levels-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-black);
}

.levels-image--cube {
  width: 136px;
  height: 136px;
  margin: 0 auto;
}
.levels-image--candy {
  width: 159px;
  height: 136px;
  margin: 0 auto;
}

.levels-image--tv {
  width: 152px;
  height: 163px;
  margin: 0 auto;
}
.levels-image--present {
  width: 131px;
  height: 159px;
  margin: 0 auto;
}
.levels-image--firecracker {
  width: 158px;
  height: 152px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .levels {
    padding-top: 32px;
    scroll-margin-top: 200px;
  }
  .levels .wrapper {
    border-radius: 35px;
    margin-bottom: 0;
    padding: 40px 89px;
    margin-bottom: 64px;
  }
  .levels-title {
    font-size: 48px;
    text-align: start;
    margin-bottom: 16px;
  }
  .levels-intro {
    font-size: 20px;
    text-align: start;

    margin-bottom: 16px;
  }
  .levels-item {
    flex-direction: row;
    justify-content: space-between;
  }

  .levels-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .levels-description {
    font-size: 20px;
    margin: 0;
    width: 433px;
  }
  .levels-image--cube {
    width: 293px;
    height: 293px;
    margin: 0;
  }
  .levels-image--candy {
    width: 309px;
    height: 263px;
    margin: 0;
  }

  .levels-image--tv {
    width: 290px;
    height: 310px;
    margin: 0;
  }
  .levels-image--present {
    width: 274px;
    height: 331px;
    margin: 0;
  }
  .levels-image--firecracker {
    width: 320px;
    height: 306px;
    margin: 0;
  }
}
