.scroll-up-btn {
  position: fixed;
  bottom: 20px;
  right: 50px;
  border-radius: 150px;
  padding: 16px;
  width: 124px;
  height: 62px;
  font-size: 20px;
  border: none;
  background-color: var(--color-white);
  color: var(--color-black);
  cursor: pointer;
  display: none;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.scroll-up-btn:hover {
  background-color: var(--color-blue);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}