.wrapper {
  width: 288px;
  margin: 0 auto;
}

.link_to_home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 35px;
  padding: 16px 24px;
  width: 288px;
  height: 60px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.05);
  background-color: var(--color-blue);
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  margin-top: 40px;
  margin-bottom: 24px;
}

.link_to_home:hover {
  background-color: var(--color-blue-hover);
}

.terms_title {
  font-family: 'Jua', sans-serif;
  font-size: 30px;
  color: var(--color-black);
  margin-bottom: 24px;
}

.terms_last_upd {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-black);
}

.terms_last_upd_date {
  font-weight: 400;
  font-size: 14px;
}

.terms_custom-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-black);
}

.terms_custom-list li a {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.terms_text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-black);
}

.terms_text a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.terms_subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-black);
}

.terms_email {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1040px;
  }

  .link_to_home {
    font-size: 20px;
    border-radius: 35px;
    padding: 16px 24px;
    width: 203px;
    height: 62px;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .terms_title {
    font-size: 54px;
    margin-bottom: 40px;
  }

  .terms_last_upd {
    font-size: 20px;
  }

  .terms_last_upd_date {
    font-size: 20px;
  }

  .terms_custom-list {
    font-size: 20px
  }

  .terms_custom-list li a {
    font-size: 20px;
  }

  .terms_text {
    font-size: 20px;
  }

  .terms_subtitle {
    font-size: 20px;
  }
}