.testimonials_section .wrapper {
  width: 288px;
  padding-top: 32px;
}

.testimonials_title {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 8px;
}

.testimonials_intro {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 22px;
}

.testimonials_bg {
  background-image: url(../img/testimonials/testimonials-bg-mob-2x.webp);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* padding: 100px 0; */
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.testimonials_item {
  width: 288px;
  padding: 32px;
  background-color: var(--color-white);
  border-radius: 35px;
}

.testimonials_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Jua', sans-serif;
  font-size: 20px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 32px;
}

.testimonials_stars {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80px;
  height: 16px;
}

.testimonials_text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: var(--color-black);
}

.testimonials_section .swiper-controls {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 12px !important;
  margin-top: 10px !important;
  padding: 0 30px !important;
  flex-wrap: nowrap !important;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  z-index: 5;
}

.testimonials_section .swiper-controls .custom-nav {
  position: static !important;
  color: var(--color-black) !important;
  font-size: 24px !important;
  padding: 8px !important;
  cursor: pointer !important;
  width: 10px !important;
  height: 10px !important;
}

.testimonials_section .swiper-pagination {
  position: static !important;
}

.testimonials_section .swiper-controls .custom-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-grow: 0;
  flex-shrink: 1;
}

.testimonials_section .swiper-pagination-bullet {
  background-color: #6ac8fa !important;
  opacity: 0.4 !important;
  margin: 0 4px !important;
  transition: opacity 0.3s !important;
}

.testimonials_section .swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.testimonials_section .swiper-button-prev:after,
.testimonials_section .swiper-button-next:after {
  font-size: 20px !important;
}

.testimonials_section .swiper-controls .custom-nav {
  all: unset !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 32px !important;
  height: 32px !important;
  background-color: transparent !important;
  color: var(--color-black) !important;
  font-size: 24px !important;
  cursor: pointer !important;
}