.testimonials_section {
  scroll-margin-top: 80px;
}

.testimonials_section .wrapper {
  width: 288px;
  padding-top: 32px;
  margin-bottom: 32px;
}

.testimonials_title {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 8px;
}

.testimonials_intro {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 22px;
}

.testimonials_section .swiper-slide {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  min-height: 480px;
  overflow: visible;
}

.testimonials_section .swiper-slide::before {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('/img/testimonials/testimonials-bg-mob-2x.webp');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  pointer-events: none;
  background-position: top center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 360px !important;
  height: 100%;
}

.testimonials_item {
  position: relative;
  z-index: 1;
  background-color: var(--color-white);
  border-radius: 35px;
  padding: 32px;
  width: 288px;
}

.testimonials_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Jua', sans-serif;
  font-size: 20px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 32px;
}

.testimonials_stars {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80px;
  height: 16px;
}

.testimonials_text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: var(--color-black);
}

.testimonials_section .swiper-controls {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 12px !important;
  margin-top: 10px !important;
  padding: 0 30px !important;
  flex-wrap: nowrap !important;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  z-index: 5;
}

.testimonials_section .swiper-controls .custom-nav {
  position: static !important;
  color: var(--color-black) !important;
  font-size: 24px !important;
  padding: 8px !important;
  cursor: pointer !important;
  width: 10px !important;
  height: 10px !important;
}

.testimonials_section .swiper-pagination {
  position: static !important;
}

.testimonials_section .swiper-controls .custom-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-grow: 0;
  flex-shrink: 1;
}

.testimonials_section .swiper-pagination-bullet {
  background-color: #6ac8fa !important;
  opacity: 0.4 !important;
  margin: 0 4px !important;
  transition: opacity 0.3s !important;
}

.testimonials_section .swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.testimonials_section .swiper-controls .custom-nav {
  all: unset !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 32px !important;
  height: 32px !important;
  background-color: transparent !important;
  color: var(--color-black) !important;
  font-size: 24px !important;
  cursor: pointer !important;
}

.testimonials_section .swiper-button-next:after,
.testimonials_section .swiper-button-prev:after {
  color: var(--color-black);
  opacity: 1;
  font-size: 20px;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.testimonials_section .swiper-button-disabled:after {
  color: rgba(106, 200, 250, 0.4) !important;
  opacity: 0.6;
}

@media screen and (min-width: 1200px) {
  .testimonials_section {
    scroll-margin-top: 220px;
  }

  .testimonials_section .wrapper {
    width: 1200px;
    padding: 0;
  }

  .testimonials_title {
    display: flex;
    text-align: flex-start;
    font-size: 48px;
    margin-left: 169px;
  }

  .testimonials_intro {
    display: flex;
    text-align: flex-start;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 169px;
  }

  .testimonials_bg {
    background-image: url('/img/testimonials/testimonials-bg-desk-2x.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 1200px;
    min-height: 842px;
    overflow: hidden;
  }

  .testimonials_section .swiper-slide {
    display: flex;
    justify-content: center;
    margin-top: 120px;
  }

  .testimonials_item {
    padding: 56px;
    width: 495px;
  }

  .testimonials_user {
    font-size: 48px;
  }

  .testimonials_stars {
    width: 160px;
    height: 32px;
  }

  .testimonials_text {
    font-size: 20px;
  }

  .testimonials_section .swiper-slide {
    align-items: flex-start !important;
  }

  .testimonials_section .swiper-slide::before {
    visibility: hidden;
  }

  .testimonials_section .swiper-slide.swiper-slide-visible.swiper-slide-next,
  .testimonials_section .swiper-slide.swiper-slide-visible.swiper-slide-prev {
    transform: scale(1);
    opacity: 1;
  }

  .testimonials_section .swiper-slide.swiper-slide-visible.swiper-slide-active {
    transform: scale(1.1);
    opacity: 1;
    z-index: 3;
  }

  .testimonials_section .swiper-controls {
    margin-top: 97px !important;
    padding: 0 550px !important;
  }
}
